*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
:root{
    --mainBg:hsl(218, 28%, 13%);
    --IntroEmail:hsl(217, 28%, 15%);
    --Footer:hsl(216, 53%, 9%);
    --testimonial:hsl(219, 30%, 18%);
    --CTA:hsl(176, 68%, 64%);
    --CTA1:hsl(198, 60%, 50%);
    --error: hsl(0, 100%, 63%);
    --Heading:"Raleway";
    --Body: 'Open Sans';
}
body{
    background-color: var(--mainBg);
    font-family: var(--Body);
    color: white;
}
header{
    display: flex;
    justify-content: space-between;
}
ul{
    display: flex;
    justify-content: space-between;
}
li{
    padding: 1em;
}